<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="scripts/app.js"></script>

  <title>Simple Login</title>
</head>
<body>

  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Profile</h1>
        <hr>
        <h2>Welcome! You're logged in as <%= user.email %>.</h2>
      </div>
    </div>
  </div>

<div class="wrapper-md">
  <div class="panel panel-default">
    <div class="panel-heading">
      Potential Language Exchange Partners Found
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-b">
          <div id='foundUsers'>

          <!-- one album -->
              <div class="row user">
                  <div class="col-md-10 col-md-offset-1">
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <!-- begin album internal row -->
                                  <div class="col-md-3 col-xs-12 thumbnail album-art">
                                      <img src="./public/images/Yasu_Photography03" alt="profile image">
                                  </div>
                                  <div class="col-md-9 col-xs-12">
                                      <div class="list-group">
                                          <p>
                                            <!-- //handlebars -->
                                          </p>
                                      </div>
                                  </div>
                              <!-- end of album internal row -->

                        </div>
                      </div>
                  </div>
              </div>

          <!-- end one album -->

      </div>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>














<div id='albums'>
        <script id='user-template' type='text/x-handlebars-template'>
          <!-- one album -->
          <div class="row user" data-album-id="{{_id}}">

            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">


                <!-- begin album internal row -->
                  <div class='row'>
                    <div class="col-md-3 col-xs-12 thumbnail album-art">
                      <img src="{{profileUrl}}" alt="user image">
                    </div>

                    <div class="col-md-9 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <h4 class='inline-header'>Name:</h4>
                          <span class='name'>{{name}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>email:</h4>
                          <span class='email'>{{email}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Native language:</h4>
                          <span class='native-lang'>{{NativeLang}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Learning Languages:</h4>
                          <span class='learning-lang'>{{learnLang}} </span>
                        </li>

                        <li class="list-group-item">
                          <h4 class="inline-header">Current City:</h4>
                          <span class='currnet-city'>{{currentCity}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class="inline-header">Favorite Animal:</h4>
                          <span class='favoriteAnimal'>{{favoriteAnimal}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class="inline-header">Friends:</h4>
                          <span class='friends'>{{friends}}</span>
                        </li>

                      </ul>
                    </div>

                  </div>
                  <!-- end of album internal row -->

                  <div class='panel-footer'>
                    <button class='btn btn-primary add-song'>Add Song</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- end one album -->
        </script>

</html>
