.jumbotron {
  background-image: url(/images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}
 body {
   /*background-image: url("../images/project1-05.jpg");
   background-repeat: no-repeat;
   background-size: contain;;*/
   margin: 0 auto;
 }



#formSignUp {
  max-width: 80%
}
