.jumbotron {
  background-image: url(/images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}
body {
  background-color: #FAF3DD;
}

.navbar-default {
    background-color: #AED9E0;
    border-color: #E7E7E7;
}
.main-caruosel {
  position: relative;
}

/*.modalBtn {
  position: absolute;
  top: 30%;
}*/

.hover-slide {
    position: absolute;
    z-index: 10;

    margin-top: 10%;
}


#formSignUp {
  max-width: 80%
}
